In [2]:
import pandas as pd
from scipy.stats import pearsonr
from statsmodels.tsa.stattools import adfuller
from sklearn.preprocessing import MinMaxScaler

In [4]:
file_CPI = "UK_CPI_CHANGE.xlsx"
data_CPI = pd.read_excel(file_CPI)
df_CPI = pd.DataFrame(data_CPI)
df_CPI

          Date       CPI
0   1960-04-01  0.034043
1   1960-07-01  0.008511
2   1960-10-01  0.059575
3   1961-01-01  0.030639
4   1961-04-01  0.071490
..         ...       ...
246 2021-10-01  2.100000
247 2022-01-01  1.400000
248 2022-04-01  4.200000
249 2022-07-01  2.100000
250 2022-10-01  3.000000

[251 rows x 2 columns]

In [5]:
file_INT_RATES = "UK_INT_RATES_CHANGE_TRIAL.xlsx"
data_INT_RATES = pd.read_excel(file_INT_RATES)
df_INT_RATES = pd.DataFrame(data_INT_RATES)
df_INT_RATES

          Date  Interest Rates
0   1960-04-01         6.61765
1   1960-07-01         4.25287
2   1960-10-01         1.48842
3   1961-01-01        -1.08637
4   1961-04-01         1.37287
..         ...             ...
246 2021-10-01        33.37842
247 2022-01-01        48.25344
248 2022-04-01        44.47275
249 2022-07-01        30.17550
250 2022-10-01        38.30372

[251 rows x 2 columns]

In [6]:
file_GDP = "UK_GDP_CHANGE.xlsx"
data_GDP = pd.read_excel(file_GDP)
df_GDP = pd.DataFrame(data_GDP)
df_GDP

          Date    GDP
0   1960-04-01     59
1   1960-07-01     94
2   1960-10-01    136
3   1961-01-01    167
4   1961-04-01      0
..         ...    ...
246 2021-10-01  15168
247 2022-01-01  11655
248 2022-04-01  12943
249 2022-07-01   9303
250 2022-10-01  15230

[251 rows x 2 columns]

In [7]:
file_PPI = "UK_PPI_CHANGE.xlsx"
data_PPI  = pd.read_excel(file_PPI )
df_PPI  = pd.DataFrame(data_PPI )
df_PPI

          Date       PPI
0   1960-04-01  0.063571
1   1960-07-01  0.036025
2   1960-10-01  0.023312
3   1961-01-01  0.052975
4   1961-04-01  0.052980
..         ...       ...
246 2021-10-01  3.633031
247 2022-01-01  4.599617
248 2022-04-01  9.165903
249 2022-07-01  4.499625
250 2022-10-01  0.833264

[251 rows x 2 columns]

In [120]:
merged_df_GDP = pd.merge(df_CPI, df_GDP, on='Date')
merged_df_GDP
values_CPI = merged_df_GDP['CPI']
values_GDP = merged_df_GDP['GDP']

correlation_coefficient, p_value = pearsonr(values_CPI, values_GDP)

# Display the results
print(f"Pearson Correlation Coefficient: {correlation_coefficient}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05  # significance level
if p_value < alpha:
    print("There is a significant correlation.")
else:
    print("There is no significant correlation.")

Pearson Correlation Coefficient: 0.2329019739321103
P-value: 0.0001970514417139371
There is a significant correlation.

In [121]:
merged_df_PPI= pd.merge(df_CPI, df_PPI, on='Date')
merged_df_PPI
values_CPI = merged_df_PPI['CPI']
values_PPI = merged_df_PPI['PPI']

correlation_coefficient, p_value = pearsonr(values_CPI, values_PPI)

# Display the results
print(f"Pearson Correlation Coefficient: {correlation_coefficient}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05  # significance level
if p_value < alpha:
    print("There is a significant correlation.")
else:
    print("There is no significant correlation.")

Pearson Correlation Coefficient: 0.7097261892472445
P-value: 9.323095668677183e-40
There is a significant correlation.

In [8]:
merged_df_INT_RATES= pd.merge(df_CPI, df_INT_RATES, on='Date')
merged_df_INT_RATES
values_CPI = merged_df_INT_RATES['CPI']
values_INT_RATES = merged_df_INT_RATES['Interest Rates']

correlation_coefficient, p_value = pearsonr(values_CPI, values_INT_RATES)

# Display the results
print(f"Pearson Correlation Coefficient: {correlation_coefficient}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05  # significance level
if p_value < alpha:
    print("There is a significant correlation.")
else:
    print("There is no significant correlation.")

Pearson Correlation Coefficient: 0.29640361116811637
P-value: 1.7500639759781785e-06
There is a significant correlation.

In [126]:
merged_indicators = pd.DataFrame(df_CPI["Date"])

In [127]:
merged_indicators["CPI"] = df_CPI["CPI"]

In [128]:
merged_indicators["GDP"] = df_GDP["GDP"]

In [99]:
merged_indicators["PPI"] = df_PPI["PPI"]

In [129]:
merged_indicators["Interest Rates"] = df_INT_RATES["Interest Rates"]

In [131]:
date = merged_indicators["Date"].to_numpy()

In [132]:
del merged_indicators['Date']

In [133]:
del merged_indicators['CPI']

In [134]:
merged_indicators["CPI"] = df_CPI["CPI"]

In [135]:
scaler = MinMaxScaler()

In [136]:
normalised_data = scaler.fit_transform(merged_indicators)

In [137]:
indicators = [ "GDP","PPI","Interest Rates","CPI"]
df_normalized = pd.DataFrame(normalised_data, columns=indicators)

In [138]:
df_normalized.insert(0,"Date",date)

In [140]:
excel_file_path = 'UK_normalised_indicators_9.xlsx'

# Save the DataFrame to CSV
df_normalized.to_excel(excel_file_path, index=False)